/* header */

.logo {
    width: 115px;
    height: 65px;
}
.options {
    background-color: #0020F4;
}
.line{
    display: inline-block;
    margin-left: 2px;
    padding: 10px;
}
.nav-line {
    color: #FFFFFF;
    height: 18px;
}
.contact {
    color: #171717;
    background-color: #FFFFFF;
    border-radius: 28px;
}   


/* section */   

.construction {
    margin: 0px auto;
    display: block;
}
.new-building {
    width: 219px;
    height: 219px;
    object-fit: cover;
}
.add-info {
    background-color: #0A22F4;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 15px;
}
#add-info {
    text-align: center;
}